<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<h1>About</h1>

<p>안녕하세요, 이곳은 글자를 세 주는 멋쟁이 사자처럼의 워드 카운트 웹페이지입니다. 여기서 글자를 세세요.</p>

<a href="{%url 'home'%}" class="badge badge-primary text-wrap">Home으로 돌아가기</a>